<div class="col-xs-2">
  <h3><%= model.get('title') %></h3>

  <% model.lists().each(function(list){ %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= list.get('title') %> <%= list.get('rank') %>
      </div>
      
      <div class="panel-body">
        <div id="add-card-<%= list.get('id') %>"></div>
        <a href="#" data-id="<%= list.get('id') %>" 
          class="glyphicon glyphicon-plus pull-right"></a>
          <% list.cards().each(function(card){ %>
            <div class='panel panel-default'>
              <div class='panel-body'>
                <%= card.get('title') %>
              </div>
            </div>
          <% }) %>
      </div>
    </div>
     
  <% }); %>

  <div class="panel panel-default">
    <div class="panel-heading">
      Add a Board Member
    </div>
    
    <div class="panel-body">
      <form action="#" id="member-form">
        <div class="form-group">
          <label for="email-form">email</label>
          <input type="text" name="newMemberEmail" value="" id="email-form">
        </div>
 
        <div class="form-group">
          <input type="submit" class="btn btn-success btn-xs" 
          value="add member">
        </div>
      </form>
      
      <div id="errors"></div>
    </div>
  </div>
</div><!-- END COLUMN -->

<div class="col-xs-2">
  <a href="#board/<%= model.get('id') %>/lists" class="btn btn-primary">
    Add new list
  </a>
</div>