<div class="col-xs-2">
  <h3><%= model.get('title') %></h3>

  <ul class="sortable-lists">
  <% model.lists().each(function(list){ %>
    <li class="ui-state-default">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= list.get('title') %> <%= list.get('rank') %>
        </div>
      
        <div class="panel-body">
          <a href="#" data-id="<%= list.get('id') %>" 
            class="glyphicon glyphicon-plus pull-right"></a>
            <div id="add-card-<%= list.get('id') %>"></div>
          
          <ul class="sortable-cards">
          <% list.cards().each(function(card){ %>
            <li class='ui-state-default card-li' data-listid='<%= list.get('id') %>' data-id='<%= card.get('id') %>'>
              <div class='panel panel-default' data-id='<%= card.get('id') %>'>
                <div class='panel-body' data-id='<%= card.get('id') %>' data-listid='<%= list.get('id') %>'>
                  <%= card.get('title') %>
                  <a href="#" data-id='<%= card.get('id') %>' 
                    data-listid='<%= list.get('id') %>'
                    class='glyphicon glyphicon-trash trash-hover'></a>
                </div>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </li>
     
  <% }); %>
</ul>

  <div class="panel panel-default">
    <div class="panel-heading">
      Add a Board Member
    </div>
    
    <div class="panel-body">
      <form action="#" id="member-form">
        <div class="form-group">
          <label for="email-form">email</label>
          <input type="text" name="newMemberEmail" value="" id="email-form">
        </div>
 
        <div class="form-group">
          <input type="submit" class="btn btn-success btn-xs" 
          value="add member">
        </div>
      </form>
      
      <div id="errors"></div>
    </div>
  </div>
</div><!-- END COLUMN -->

<div class="col-xs-2">
  <a href="#board/<%= model.get('id') %>/lists" class="btn btn-primary">
    Add new list
  </a>
</div>
